*{
    margin :0;
    padding : 0;
}
body{
    background-color: skyblue;
    text-align: center;
}
.container {
    height : 70vh;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game  {
    height: 60vmin;
    width: 60vmin;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box{
    height:18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0,0.1);
    font-size: 8vmin;
    color: red;
    background-color: #ffffc7;
}

#reset{
    padding : 1rem;
    font-size: 1.25rem;
    background-color: aqua;
    justify-content: center;
    text-decoration: dashed;
    text-emphasis-color: red;

}

#msg{
    color :indianred;
    font-size: 5vmin;
    font-family:fantasyS;
    text-decoration:dashed;
    
}
.msg-container{
    height: 10px;
}

#ngame{
    padding : 1rem;
    font-size: 1.25rem;
    background-color: rgba(153, 61, 124, 0.3);
    justify-content: center;
    text-decoration: dashed;
    text-emphasis-color: red;
}

.hide{
    display: none;
}

#draw{
    color :black;
    font-size: 5vmin;
    font-family:fantasyS;
    text-decoration:dashed;
}
